@using CarShop.Web.ViewModels.CarAds
@using CarShop.Services.Cars
@using CarShop.Services.Users
@using CarShop.Services.CarAds
@using System.Linq;
@model EditCarAdViewModel
@inject ICarAdsService carAdsService
@inject ICarsService carsService
@inject IUsersService usersService

@{
    var message = "Fields in <span class=\"text-danger font-weight-bold\">RED</span> are required.";
    var userId = await usersService.GetUserIdByUsernameAsync(this.User.Identity.Name);
    var carAds = await carAdsService.GetAllByDealerIdAsync(userId);
    var carsNotIncludedInAnyAd = (await carsService.GetAllCarsByUserIdAsync(userId)).Where(c => !carAds.Any(ca => ca.CarId == c.Id && ca.Id != Model.Id)).ToList();
}

<h1 class="text-center font-weight-bold m-4">Welcome to edit car ad page.</h1>
<hr class="bg-dark w-50 mx-auto" style="height: 3px" />

<div class="w-50 text-center mx-auto alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    @Html.Raw(message)
</div>
<div class="container-fluid">
    <form asp-controller="CarAds" asp-action="Edit" method="post" class="row d-flex justify-content-between mt-5 w-75 mx-auto text-center">
        <input type="hidden" name="DealerId" value="@userId" />
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="form-group col-12 m-1">
            <label asp-for="CarId" class="text-danger">Choose from your cars</label>
            <select asp-for="CarId" class="form-control">
                <option selected="selected" disabled>Select car</option>
                @foreach (var car in carsNotIncludedInAnyAd)
                {
                    <option value="@car.Id">Brand: @car.Brand  Model: @car.Model Power: @car.Power Price: @car.Price</option>
                }
            </select>
            <span asp-validation-for="CarId"></span>
        </div>
        <div class="form-group col-5 m-1">
            <label asp-for="Region" class="text-danger"></label>
            <input asp-for="Region" placeholder="Region..." class="form-control" />
            <span asp-validation-for="Region"></span>
        </div>
        <div class="form-group col-5 m-1">
            <label asp-for="PopulatedPlace" class="text-danger"></label>
            <input asp-for="PopulatedPlace" placeholder="Populated Place..." class="form-control" />
            <span asp-validation-for="PopulatedPlace"></span>
        </div>
        <hr class="bg-dark mx-auto w-100" style="height: 2px" />
        <h3 class="mx-auto text-info">The phone number must starts with 0 and must be exactly 10 digits long.</h3>
        <div class="form-group col-3 m-1">
            <label asp-for="PhoneNumber" class="text-danger"></label>
            <input asp-for="PhoneNumber" placeholder="Phone Number..." class="form-control" />
        </div>
        <div class="form-group col-3 m-1">
            <label asp-for="PhoneNumber2"></label>
            <input asp-for="PhoneNumber2" placeholder="Phone Number 2..." class="form-control" />
        </div>
        <div class="form-group col-3 m-1">
            <label asp-for="PhoneNumber3"></label>
            <input asp-for="PhoneNumber3" placeholder="Phone Number 3..." class="form-control" />
        </div>
        <hr class="bg-dark mx-auto w-100" style="height: 2px" />
        <h4 class="text-center">Images</h4>
        @foreach (var image in this.Model.Images)
        {
            <img class="col-3" src="~/images/@image.Name"/>
        }
        <hr class="bg-dark mx-auto w-100" style="height: 2px" />
        <div class="form-group col-12 m-1">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" placeholder="Description..." class="form-control"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <hr class="bg-dark mx-auto w-100" style="height: 2px" />
        <div class="d-flex justify-content-center col-12 row mt-5">
            <button type="submit" class="btn btn-dark text-white col-6">Edit car ad</button>
        </div>
    </form>
</div>

