@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="text-center m-5">@ViewData["Title"]</h1>
<hr class="bg-dark w-50 mx-auto" style="height: 2px" />
<div class="container-fluid w-50">
    <div>
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group text-center">
                    <label asp-for="Input.Username"></label>
                    <input placeholder="Username..." asp-for="Input.Username" class="form-control" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <label asp-for="Input.Password"></label>
                    <input placeholder="Password..." asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <button type="submit" class="btn bg-dark text-white">Log in</button>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"><strong class="text-dark">Register as a new user</strong></a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="">
        <section>
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div class="d-flex justify-content-between">
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            if (provider.Name == "Facebook")
                            {
                                <div class="d-flex justify-content-between">
                                    <button type="submit" class="btn btn-primary text-white font-weight-bold" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-facebook-square fa-2x mr-1 "></i><h6>Log in with @provider.DisplayName</h6></button>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex justify-content-between">
                                    <button type="submit" class="btn btn-danger text-white font-weight-bold" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-google-plus fa-2x mr-1"></i><h6>Log in with @provider.DisplayName</h6></button>
                                </div>
                            }
                        }
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
